/* Contact me button Starts */

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
::before,
::after {
  position: absolute;
  content: '';
}

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 30px 0 0 0;
  min-width: 150px;
}
.btn span {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 9px 10px;
  transition: 0.3s;
}
.btn-3 {
  padding: 5px;
}
.btn-3 span {
  color: rgb(255, 255, 255);
  background: rgb(109, 162, 16);
  background: linear-gradient(
    159deg,
    rgba(109, 162, 16, 1) 30%,
    rgba(189, 250, 84, 1) 100%
  );
}
.btn-3::before,
.btn-3::after {
  background: transparent;
  z-index: 2;
}
.btn.hover-border-2::before,
.btn.hover-border-2::after {
  width: 10%;
  height: 25%;
  transition: 0.35s;
}
.btn.hover-border-2::before {
  bottom: 0;
  left: 0;
  border-left: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
}
.btn.hover-border-2::after {
  top: 0;
  right: 0;
  border-right: 2px solid var(--white);
  border-top: 2px solid var(--white);
}
.btn.hover-border-2:hover::before,
.btn.hover-border-2:hover::after {
  width: 99%;
  height: 99%;
}
/* Contact me button Ends */
