@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #1a3048;
  font-family: "Titillium Web", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #1a3048;
  margin-block: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #780206;
  background: -webkit-linear-gradient(to bottom, #061161, #780206);
  background: linear-gradient(to bottom, #061161, #780206);
  border-radius: 10px;
}

@media screen and (max-width: 700px) {
  ::-webkit-scrollbar-track {
    margin-block: 0px;
    border-radius: 0;
  }
}
