@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1a3048;
  font-family: "Titillium Web", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: white;
  margin-block: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #bcfd4c;
  border-radius: 10px;
}

@media screen and (max-width: 700px) {
  ::-webkit-scrollbar-track {
    margin-block: 0px;
    border-radius: 0;
  }
}

#title {
  -webkit-text-stroke-color: red;
  -webkit-text-stroke-width: 1px;
}
