@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #6e6e6e;
  font-family: 'Titillium Web', sans-serif;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: var(--white);
  margin-block: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}
